body, html {
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-family: monospace;
    display: flex;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#input {
    margin: auto;
    margin-top: 0;
    width: 95%;
    padding: 10%;
    color: #08be08;
}
